[package]
name = "zcb3"
version = "3.4.5"
edition = "2021"
authors = ["zeozeozeo"]
build = "build.rs"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [".", "bot", "bot/ybot_fmt", "bot/gdr"]

[dependencies]
clap = { version = "4.5.2", features = ["derive"] }
eframe = "0.26.2"
egui-modal = "0.3.5"
env_logger = "0.11.3"
image = { version = "0.24.9", default-features = false, features = ["ico", "png"] }
rfd = "0.14.0"
bot = { path = "bot" }
serde_json = "1.0.113"
log = "0.4.21"
anyhow = "1.0.80"
rayon = "1.9.0"
egui_extras = { version = "0.26.2", features = ["image"] }
rustmatica = "0.1.1"
egui_plot = "0.26.2"
serde = "1.0.197"
self-replace = "1.3.7"
ureq = "2.9.6"
fastrand = "2.0.1"

# needed to hide console window on windows
[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.9", features = ["wincon", "winuser"] }

[build-dependencies]
winres = "0.1.12"
built = "0.7.1"
