[package]
name = "zcb3"
version = "3.3.11"
edition = "2021"
authors = ["zeozeozeo"]
build = "build.rs"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [".", "bot", "bot/ybot_fmt", "bot/gdr"]

[dependencies]
clap = { version = "4.5.1", features = ["derive"] }
eframe = "0.26.1"
egui-modal = "0.3.4"
env_logger = "0.11.2"
image = { version = "0.24.7", default-features = false, features = ["ico", "png"] }
rfd = "0.13.0"
bot = { path = "bot" }
serde_json = "1.0.113"
log = "0.4.20"
anyhow = "1.0.79"
rayon = "1.8.1"
egui_extras = { version = "0.26.1", features = ["image"] }
rustmatica = "0.1.1"
egui_plot = "0.26.1"
serde = "1.0.196"
rand = "0.8.5"
self-replace = "1.3.7"
ureq = "2.9.5"

# needed to hide console window on windows
[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.9", features = ["wincon", "winuser"] }

[build-dependencies]
winres = "0.1.12"
built = "0.7.1"
