[package]
name = "zcb3"
version = "3.5.2"
edition = "2021"
authors = ["zeozeozeo"]
build = "build.rs"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [".", "bot", "bot/ybot_fmt", "bot/gdr"]

[dependencies]
clap = { version = "4.5.7", features = ["derive"] }
eframe = "0.28"
egui-modal = { git = "https://github.com/zeozeozeo/egui-modal" }
env_logger = "0.11.3"
image = { version = "0.25.1", default-features = false, features = ["ico", "png"] }
rfd = "0.14.1"
bot = { path = "bot" }
serde_json = "1"
log = "0.4.21"
anyhow = "1.0.86"
rayon = "1.10.0"
egui_extras = { version = "0.28", features = ["image"] }
rustmatica = "0.2.0"
egui_plot = "0.28"
serde = "1"
self-replace = "1.4.0"
ureq = "2.9.7"
fastrand = "2.1.0"
egui_clickpack_db = "0.3.0"
chrono = "0.4.38"
timeago = "0.4.2"
tempfile = "3.10.1"

# needed to hide console window on windows
[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.9", features = ["wincon", "winuser"] }

[build-dependencies]
winres = "0.1.12"
built = "0.7.3"
