[package]
name = "zcb3"
version = "3.3.7"
edition = "2021"
authors = ["zeozeozeo"]
build = "build.rs"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [".", "bot", "bot/ybot_fmt"]

[dependencies]
clap = { version = "4.4.17", features = ["derive"] }
eframe = "0.25.0"
egui-modal = "0.3.2"
env_logger = "0.10.1"
image = { version = "0.24.8", default-features = false, features = ["ico", "png"] }
reqwest = { version = "0.11.23", features = ["blocking"] }
rfd = "0.13.0"
bot = { path = "bot" }
serde_json = "1.0.111"
log = "0.4.20"
anyhow = "1.0.79"
rayon = "1.8.1"
egui_extras = { version = "0.25.0", features = ["image"] }
rustmatica = "0.1.1"
egui_plot = "0.25.0"
serde = "1.0.194"
rand = "0.8.5"
self-replace = "1.3.7"

# needed to hide console window on windows
[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.9", features = ["wincon", "winuser"] }

[build-dependencies]
winres = "0.1.12"
built = "0.7.1"
